@charset "UTF-8";

@import url('./reset.css');

body {
  background-color:  #EEF9BF;
}

.main {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-family: 'Roboto', sans-serif;
  font-size: 56px;
  color: #75B79E;
  margin-top: 40px;
}

.main__setting {
  width: 100%;
  margin-top: 30px;
  max-width: 900px;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
}
.main__optionTime {
  margin-right: 40px;
}

.main__optionTime, .main__optionPlay {
  display: flex;
  align-items: center;
}

.main__optionTime span, .main__optionPlay span {
  margin-left: 3px;
  font-family: 'Roboto', sans-serif;
}

.main__cards {
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 117px;
  height: 146px;
  margin: 0 34px 34px 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  position: relative;
  transform: rotateY(0);
  transform-style: preserve-3d;
  transition: transform 0.3s linear;
}

.card__figure {
  width:100px;
  height: 100px;
  user-select: none;
}

[data-identifier="back-face"], [data-identifier="front-face"] {
  position:absolute;
}

[data-identifier="back-face"] {
  display: none;
}

.rotate {
  transform: rotateY(-180deg)
}

.rotate .upturned--card {
  display: block;
}
.rotate .untapped-card {
  display: none;
}

.check  {
  transform: rotateY(-180deg)
}

.check  .upturned--card {
 display: block;
}

.check   .untapped-card {
  display: none;
}
